
Введение в нейронные сети/MNIST/raw/train-labels-idx1-ubyte.gz
Введение в нейронные сети/MNIST/raw/train-labels-idx1-ubyte
Введение в нейронные сети/MNIST/raw/train-images-idx3-ubyte.gz
Введение в нейронные сети/MNIST/raw/train-images-idx3-ubyte
Введение в нейронные сети/MNIST/raw/t10k-labels-idx1-ubyte.gz
Введение в нейронные сети/MNIST/raw/t10k-labels-idx1-ubyte
Введение в нейронные сети/MNIST/raw/t10k-images-idx3-ubyte.gz
Введение в нейронные сети/MNIST/raw/t10k-images-idx3-ubyte
Введение в нейронные сети/data/cifar-10-python.tar.gz
Введение в нейронные сети/data/cifar-10-batches-py/test_batch
Введение в нейронные сети/data/cifar-10-batches-py/readme.html
Введение в нейронные сети/data/cifar-10-batches-py/data_batch_5
Введение в нейронные сети/data/cifar-10-batches-py/data_batch_4
Введение в нейронные сети/data/cifar-10-batches-py/data_batch_3
Введение в нейронные сети/data/cifar-10-batches-py/data_batch_2
Введение в нейронные сети/data/cifar-10-batches-py/data_batch_1
Введение в нейронные сети/data/cifar-10-batches-py/batches.meta
